spring:
  session:
    store-type: redis
  main:
    allow-bean-definition-overriding: true  #feign的配置需要开这个
  application:
    name: art-market-trade
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://10.16.64.250:3306/art_dev?useSSL=false&useUnicode=true&characterEncoding=utf-8&autoReconnect=true&serverTimezone=Asia/Shanghai
    username: root
    password: Ye500235!
    hikari:
      max-lifetime: 120000
  cloud:
    nacos:
      discovery:
        server-addr: 10.16.64.250:8848
  redis:
    host: 10.16.64.250
    port: 6379
seata:

# 设置超时时间，太短会导致链上服务调用失败
ribbon:
  ReadTimeout: 5000
  ConnectionTimeout: 10000

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0
server:
  port: 9000