<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.art.dao">

    <select id="getTokenBasicInfo" resultType="com.cqupt.art.entity.vo.TokenBasicVo">
        select
            ut.art_id,
            nbi.image_url,
            nbi.name,
            ut.count,
            ut.sail
        from pm_user_token as ut,pm_nft_batch_info as nbi
        where
        ut.art_id = nbi.id
        and ut.user_id = #{userId}
        limit #{start},#{limit}
    </select>
</mapper>
