spring:
  application:
    name: art-market-notice
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/art?useSSL=false&useUnicode=true&characterEncoding=utf-8&autoReconnect=true&serverTimezone=Asia/Shanghai
    username: root
    password: Hxd159753@
    hikari:
      max-lifetime: 120000

server:
  port: 8890


mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true