alipay:
  app_id: "2021000119678392"            # 在支付宝创建的应用的id
  #商户私钥，您的PKCS8格式RSA2私钥
  merchant_private_key: MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCBcmRkbaEEvYw+8MhHTH7+Hzn618Myk8nyF3Il14nh0KQs5Rnl19YvwQpR9y2h8S71DOiNXeM5jt9ttz3JoFQTkd5nKvdwSgGjvlwXZZBTdCG9+Dfyp055oJKz6YS7DqKgq4vAPT5cfDjVOUdyKkiiv4uNBfONh7wA+ToeAM2BZG6EeESvys8dCfSbQwHfxR5FO0T2GfPJXuiUyoXf90HU/6KsK6tBN2bBBV1N3v6rZcipSHP/5EFA3golvjoJu968GWv0+I6H49simkyb4llDtAgItz1rW+/qyJVIvEUNN4loKIA/eNnA23TmYXkrJt2XuN/pJgzSM4scuxTtm0tNAgMBAAECggEAVv2S7dKmpNLkzt9tGE0WApzlj+czrGeZDPIoqbmhVXmq+uizcLyNmeX2k4KyzeORFOkp1ubDbsjO6aJ9CWSPW99pQJelVXbGh03EAY0lYo/mpQ2MO6unlyELtZA2vKZnL+ZYskX2BJ0ObGxj0RsNWSG0HH9lXzVaaKUUI1mSwWLR0I41U209AMj8RauNJ514KRJfx+1cBPxS00+UIf3EDlQjkXCk4Mc8n810m1Iqi+zLZhBMA6A0Aiv9pKwJHJNbt9xK6iWewFiwQixlvrOE1FOFuTMwGpWbwZtHAt8zDbIsJveI04qKfgdNAPFyjthCfIcG8pon46yTajiCU9J3gQKBgQC/XIa1A3Ipryr+R5POc7Qe/5DamqTtvtJobHhAt3B751GSHtk3x3UfsrpFfjlvCV+SEcakHMW5MTknruh+r+GTtM+nJH7VuyWPDM6rtxVjToT9fozMnWZTysxTV1IO5pCXuDGNinnumrpL9UWk2pVK954N01H4CNEMTg6dcRsdvQKBgQCtK/c/JaoOMinkfWuMdAmmux/QZu+ungBwxI0M/M3uX0fp/lR+ylU8bJ7K5NLOsBVCoW/TyzF1pP5vZLl+zZRakHpVrJvBZBuKOpLuuutIPgaPy8MJtoZIybhK7bGOZKd31hjrFhIHwWLcJNapc160WIHwl5VQQzQF139qZ+5U0QKBgAkRt4ioqyZymNUIS2cDcMvvTMwvfBWQb6RnT6OxjfExW1pTf/P2zgQ8kjts6gfrJ85ibUml23EVdiH9ViN67nPzo8vGHQTAI92Nu9XDjY3xULg64S1pYEokWF6yyr7OCphGMIMGxxSZ3K5w52YSvfSZm7IIC+B3eoDcyjCIBcL5AoGBAKRTPRpZ9kXkSiZ88UplbiceGDFdDIHpgsd/a81wM0XIemhLpAhwnXNqK0Ci5HunUXVZ1dDnVvao65vuu6rdD7LkuIGF+oMIKK4BqR4Kl2uFGBrpoxkbb8+wQ0YuybcyQkwQCLNDzTY4x0PZXS2Mwchm2F7iqJhyPPJyLIFfQCSRAoGAGV+DsMAGq5HuL2z203rZJSrNdV5L+ZtBfurDqX+WtkTdmo8DQgWzm82EC+wWM6ZUPlGYjPTOQtzq55Lg0tJH0GCQJDCO+n15WJxVbKpvhNN7uJIs5TorctFgfYAGNatYR9jN7wo79d8ccL/wOaBKcppk8vzEbqBhCtu1iMbf054=
  # 公钥
  alipay_public_key: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAjaFVHzdYgeVZ28FUpSjmnqquACcQEnToGv0XIxrGjzppQIg9dHcKxXil6/ZIM7PYfhlcLfOkr+RxoEzuKjJnI/Pang/T+aUgAMkkfPSE3Z6x0Iz0ks/HhzsRI9kXrKFv/3o8RUIpgLzHSZ3OD9Y4wry6nmhOu5DBATdvRIG9DzTs/DqVEd5dc3bAnpb6ykUccbiONhnf20wivz4Avw4Z2zMdpxYhjOfukFXivDJuAz6MFZizsgQuBdYT7wu/4brWuC5B5KTS0lcV8PEMlywTBoCEvdhkRPJ5B2dhmC1QYQK/K0SoDGgjtXdteNxu+UBMZMT+bUA4cShLSGTPV+3/yQIDAQAB
  notify_url: 124.71.223.148:88/order/pay/payed/alipay/notify      # 服务器[异步通知]页面路径
  return_url: http://art-meta:9090/#/user             # 同步通知，支付成功，一般跳转到成功页

server:
  port: 9010

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://10.16.19.243:3306/art_dev?useSSL=false&useUnicode=true&characterEncoding=utf-8&autoReconnect=true&serverTimezone=Asia/Shanghai
    username: root
    password: Ye500235!
    hikari:
      max-lifetime: 120000
      # 限制mysql的连接数，应用级限流
      # 限制连接数
      maximum-pool-size: 100

  application:
    name: art-order-server
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
  redis:
    host: 10.16.19.243
    port: 6379
  cloud:
    nacos:
      discovery:
        server-addr: 10.16.19.243:8848
  rabbitmq:
    host: 10.16.19.243
    port: 5672
    virtual-host: /
    username: guest
    password: guest
    #开启发送端确认、确认被mq服务器交换机接收
    publisher-confirm-type: correlated
    #开启发送端消息抵达队列的确认、确认被路由到队列
    publisher-returns: true
    #只要抵达队列，以异步方式优先回调returnConfirm
    template:
      mandatory: true
    #手动ack确认收到消息
    listener:
      simple:
      # 地重试机制
        retry:
          enabled: true
          initial-interval: 1000 # 初始的失败等待时长为1秒（第一次失败后1s重试）
          multiplier: 2 # 失败的等待时长倍数，下次等待时长 = multiplier * last-interval（举例：倍数*第一次等待时长1s，这样子永远都是1s）
          max-attempts: 3 # 最大重试次数
          stateless: true # （默认为true）true无状态；false有状态【如果业务中包含事务，这里改为false】 #（备注：如果设置为false，那么Spring在重试的时候保留事务——消耗性能，所以没有事务时设置为true提升性能）
          max-interval: 10000 # 最大等待时长，大于此时长的一律按最大时长来计算
        acknowledge-mode: manual



mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
