server:
  port: 8889
spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: art-user-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://124.71.223.148:3306/art?useSSL=false&useUnicode=true&characterEncoding=utf-8&autoReconnect=true&serverTimezone=Asia/Shanghai
    username: root
    password: Hxd159753@
    hikari:
      max-lifetime: 120000
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.1.6:8848
  session:
    store-type: redis

  rabbitmq:
    host: 124.71.223.148
    port: 5672
    virtual-host: /
    username: guest
    password: guest
    listener:
      simple:
        acknowledge-mode: manual

  redis:
    host: 124.71.223.148

ribbon:
  MaxAutoRetries: 0
  MaxAutoRetriesNextServer: 0
  OkToRetryOnAllOperations: false
  ReadTimeout: 12000
  ConnectTimeout: 8000

logging:
  level:
    com.cqupt.art: info

mybatis-plus:
  global-config:
    db-config:
      table-prefix: pm_
  configuration:
    map-underscore-to-camel-case: true


