server:
  port: 8888

spring:
  application:
    name: artmarket-conflux-chain

  cloud:
    nacos:
      discovery:
        server-addr: 124.71.223.148:8848
  rabbitmq:
    host: 124.71.223.148
    port: 5672
    virtual-host: /
    username: guest
    password: guest
    #开启发送端确认、确认被mq服务器交换机接收
    publisher-confirms: true
    #开启发送端消息抵达队列的确认、确认被路由到队列
    publisher-returns: true
    #只要抵达队列，以异步方式优先回调returnConfirm
    template:
      mandatory: true
    #手动ack确认收到消息
    listener:
      simple:
        acknowledge-mode: manual

my:
  chain:
    net:
      url: https://test.confluxrpc.com

    contract: cfxtest:acacwaz9gt4jx4cpf4mrbur9usjz2cnp26zgh6d77k

    admin:
      privateKey: "0xc27da8e4c551cdd0324ee4913bade0bf520d00a6a096298175694dab70550f54"
      address: "cfxtest:aasu6pa7u3rugb4awcuu937pd52wnc1x2jb4zd916k"
    chainId: 1


